<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <ion-title>Lista de Usuarios</ion-title>
  </div>
  <div class="lista">
    <ion-list>
      <ion-item *ngFor="let a of usuarios; let i=index" [routerLink]="['/detalle', a.id]"> 
        <ion-label>{{a['apellido']}} &nbsp; {{a['username']}} </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div>

  </div>
</ion-content>