<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img class="logo"
  src="assets/duoc.png"
  alt="Logo Duoc"
  ></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm">
        <ion-list>
            <ion-item>
              <ion-label position="floating">Email: </ion-label>
              <ion-input type="email" placeholder="ju.perez@duocuc.cl"
                    name="email" [(ngModel)]="sesion.email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password: </ion-label>
              <ion-input type="password" placeholder="asdf1234"
                    name="password" [(ngModel)]="sesion.password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button routerLink="/home" expand="block" fill="solid" color="success" shape="round"
        >Ingresar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button fill="clear" class="olvido" color="danger">¿Olvidaste tu contraseña?</ion-button>
</ion-content>
