<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="success"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img class="logo"
  src="assets/duoc.png"
  alt="Logo Duoc"
  ></ion-img>
  <ion-text class="ingresar" color="primary">
    <h1>Ingresar</h1>
  </ion-text>

  <ion-button class="docente" routerLink="/isesion">Docente</ion-button>
  <ion-button class="alumno" routerLink="/isesion">Alumno</ion-button>

  <ion-img class="acreditación"
  src="assets/acreditación.png"
  alt="Logo Duoc"
  ></ion-img>

</ion-content>
