<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Asignatura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="medium">
    <h5>Seleccione un curso</h5>
  </ion-text>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Prog. Móvil (010V)</ion-label>
      </ion-item>
      <div class="cursos" slot="content">
        <ion-button fill="clear">
          Ver Curso
        </ion-button>
      </div>
      <div class="cursos" slot="content">
        <ion-button fill="clear" routerLink="/asignatura/cursos/asistencia">
          Tomar Asistencia
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Prog. Móvil (012V)</ion-label>
      </ion-item>
      <div class="cursos" slot="content">
        <ion-button fill="clear">
          Ver Curso
        </ion-button>
      </div>
      <div class="cursos" slot="content">
        <ion-button fill="clear" routerLink="/asignatura/cursos/asistencia">
          Tomar Asistencia
        </ion-button>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Arquitectura (019V)</ion-label>
      </ion-item>
      <div class="cursos" slot="content">
        <ion-button fill="clear">
          Ver Curso
        </ion-button>
      </div>
      <div class="cursos" slot="content">
        <ion-button fill="clear" routerLink="/asignatura/cursos/asistencia">
          Tomar Asistencia
        </ion-button>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
