.content{
    --ion-background-color: #f2f2f2;
}

.logo{
    --ion-background-color: #f2f2f2;
    margin: 20% 10% 0% 10%;
}

.cerrar {
    display: flex;
    padding: 20% 10% 0% 10%;
    color: red;
}

.lApp {
    margin: 10%;
}