<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="warning"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-img class="logo"
  src="assets/duoc.png"
  alt="Logo Duoc"
  ></ion-img>
  <ion-img class="lApp" src="assets/RegistrApp.png" alt="Logo App"></ion-img>
  <ion-button class="cerrar" fill="clear" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>
